@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    font-family: 'Fira Sans', sans-serif;
}

/* shared styled */
.container {
    width: 1280px;
    margin: 0 auto;
}
.primary-color {
    color: #0E0E0E;
}
.primary-btn {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    outline: none;
    cursor: pointer;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 25px;
}



/* Header section css */
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}
.logo a {
    text-decoration: none;
}
.logo a h3 {
    font-size: 32px;
    font-weight: 700;
}
.sign-up-btn button {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
}


/* Hero section css */
#hero-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 80px 60px;
    background: #C6E4D6;
    border-radius: 25px;
}
.hero-content {
    width: 60%;
}
.hero-content h4  {
    font-size: 24px;
    font-weight: 500;
    opacity: .5;
    margin-bottom: 15px;
    color: #0E0E0E;
}
.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.hero-img {
    width: 40%;

}


/* Pillars section css */
#pillars .container {
    padding: 80px 0;
}
.pillars-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.pillars-item {
    background: #fff;
    border-radius: 20px;
    padding: 25px;
}
.pillar-icon {
    width: 60px;
    margin-bottom: 25px;
}
.pillars-item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}
.pillars-item p {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.7;
}


/*  Vision of Future css */
/*#future-vision*/
.description {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.7;
}
.future-vision-content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 30px 0;
}
.future-vision-item {
    border-right: 20px;
    padding: 30px;
    background: linear-gradient(#5490F533,#5490F533);
    border-radius: 20px;
}
.future-vision-icon img {
    width: 60px;
    margin-bottom: 20px;
}
.future-vision-item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 10px;
}
.future-vision-item p {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.7;
    margin-bottom: 20px;
}
.future-item-1 {
    background: linear-gradient(#5490F533, #5490F533);
}
.future-btn-1 {
    background: #5490F5;
}
.future-item-2 {
    background: #C6E4D6;
}
.future-btn-2 {
    background: #09A15C;
}
.future-item-3 {
    background: #F7EBCF;
}
.future-btn-3 {
    background: #FFC239;
}


/*  Recent news css */
#recent-news .container {
    padding: 80px 0;
}
#recent-news .description {
    margin-bottom: 30px;
}
.recent-news-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.recent-news-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background: #fff;
    border-radius: 25px;
}
.recent-news-img {
    width: 35%;
}
.recent-news-img img {
    width: 100%;
    border-radius: 25px;
}
.recent-news-content {
    width: 65%;
}
.recent-news-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.recent-news-content p {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    margin-bottom: 12px;
}
.recent-news-content img {
    width: 135px;
    margin: 12px 0;
}
.recent-news-content p span {
    margin-right: 12px;
}
.recent-news-btn {
    margin-top: 20px;
}
.recent-item-reverse {
    flex-direction: row-reverse;
}


/*  Donate Today section css */
#donate .section-title, #donate .description {
    text-align: center;
}
.donation-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 32px 0;
}
.donation-card {
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0ECC;
    background: #fff;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    transition: all ease-in-out 0.3s;
}
.donation-card:hover, .donation-card.active {
    background: #C6E4D6;
}
.donation-input input {
    width: 100%;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 400;
    color: #0E0E0E4D;
    background: #fff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 8px;
    text-align: center;
    outline: none;
}
.donate-btn {
    text-align: center;
    margin-top: 30px;
}


/*  Newsletter Section  css     */
#newsletter .container {
    background: #C6E4D6;
    border-radius: 25px;
    margin: 80px auto;
    padding: 80px 100px;
}
.newsletter-content {
    width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.newsletter-content p {
    width: 90%;
    text-align: center;
    margin-bottom: 25px;
    color: #0E0E0EB3;
}
.newsletter-content .section-title {
    margin-bottom: 16px;
}
.newsletter-form {
    width: 100%;
    margin-bottom: 25px;
}
.newsletter-form form {
    display: flex;
    width: 100%;
}
.newsletter-form input {
    width: 90%;
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 500;
    color: #0E0E0E4D;
    border-radius: 8px 0 0 8px;
    border: none;
    outline: none;
}
.newsletter-form button {
    border-radius: 0 8px 8px 0;
}


/* Footer section css */
footer {
    background: #fff;
}
footer .container {
    padding: 50px 0;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.social-icons ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
.social-icons ul li img {
    width: 25px;
}